.quote{
   margin:10px auto;
   padding:2px;
   border:0.5px solid #f4f4f4;  
}

.quote-topbar{
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(254, 254, 254);
   padding: 5px;
   color: rgb(12, 11, 11);
}
.quote-footer{
   background-color:rgb(12, 11, 11);
   color: rgb(35, 5, 119);
}
@media only screen and (min-width: 760px){
   .quote{
      width:60%;
      max-width: 60%;
      margin:10px auto;
   }
}