.quote-options{
   margin:0;
   padding:5px;
   position: relative;
}
.quote-options-list{
   position: absolute;
   top:50%;
   left:0;
   z-index: 10;
   box-shadow: 1px 1px 4px rgb(12,11,11);
   list-style: none;
   display: none; 
   transform: translateX(-10%);
   padding: 2px;
   width: max-content;
   background:transparent;

}
.quote-options-list li{
   background-color: #f4f4f4;
   width:100%;
   margin:2px auto;
   padding:5px;
}
.quote-options-list li svg{
   display: block;
   margin:auto;
   background-color: transparent;
}
.quote-options:hover .quote-options-list{
   display: block;
   
}