.register-btn{
  
   outline: none;
   background-color: #f4f4f4;
   color: rgb(12,11,11);
   border:0.5px solid rgb(12,11,11);
   border-radius: 5px;
   padding:5px;
}
.register-btn:hover,.register-btn:focus{
   background-color: rgb(12,11,11);
   color:#f4f4f4;
   outline:none;
   border:1px solid #f4f4f4;
}